  VITE_FIREBASE_API_KEY=AIzaSyBxwnfwnm7q9hpNHxAkNWpyQ0537U0waZc
  VITE_FIREBASE_AUTH_DOMAIN=authen-94726.firebaseapp.com
  VITE_FIREBASE_PROJECT_ID=authen-94726
  VITE_FIREBASE_STORAGE_BUCKET=authen-94726.firebasestorage.app
  VITE_FIREBASE_APP_ID=1:197895515363:web:71968ca5961c15590769d6
  VITE_FIREBASE_MEASUREMENT_ID=G-VYMBYWRG2H
